{{- $email := promptString "email" -}}
{{- $batcmd := "bat" }}
{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.idLike "debian" }}
{{- $batcmd = "batcat" }}
{{- end }}
{{- end -}}
pager = "{{ $batcmd }}"

[data]
  email = "{{ $email }}"
