# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

#
# Dependencies
#

[[ ! -d "$HOME/.antigen" ]] && git clone https://github.com/zsh-users/antigen.git "$HOME/.antigen"
source "$HOME/.antigen/antigen.zsh"

# Specify completions we want before the completion module
antigen bundle zsh-users/zsh-completions

# Specify plugins we want
antigen bundle aws
antigen bundle brew
antigen bundle completion
antigen bundle docker
antigen bundle docker-compose
antigen bundle dotenv
antigen bundle dotnet
antigen bundle editor
antigen bundle fzf
antigen bundle git
antigen bundle history
antigen bundle httpie
antigen bundle kubectl
antigen bundle utility
antigen bundle vault
antigen bundle vscode
antigen bundle zsh-autosuggestions
antigen bundle zsh-users/zsh-syntax-highlighting

antigen theme romkatv/powerlevel10k

antigen apply

# User configuration

export EDITOR="code --wait"
export GOPATH=$HOME/go

# Prepended path
[ -d /usr/local/go/bin ] && export PATH="/usr/local/go/bin:$PATH"
[ -d $HOME/tools ] && export PATH="$HOME/tools:$PATH"
[ -d /usr/local/opt/terraform@0.12/bin ] && export PATH="/usr/local/opt/terraform@0.12/bin:$PATH"
[ -d /usr/local/opt/helm@2/bin ] && export PATH="/usr/local/opt/helm@2/bin:$PATH"
[ -d $HOME/scripts ] && export PATH="$HOME/scripts:$PATH"
[ -d /usr/local/share/dotnet ] && export PATH="/usr/local/share/dotnet:$PATH"
[ -d /usr/local/bin ] && export PATH="/usr/local/bin:$PATH"

# Appended path
[ -d $GOPATH/bin ] && export PATH="$PATH:$GOPATH/bin"
[ -d $HOME/.dotnet/tools ] && export PATH="$PATH:$HOME/.dotnet/tools"
[ -d $HOME/repositories/useful-scripts ] && export PATH="$PATH:$HOME/repositories/useful-scripts"
[ -d $HOME/.local/bin ] && export PATH="$PATH:$HOME/.local/bin"

if [ -x "$(command -v git)" ]; then
  alias g=git
fi

if [ -x "$(command -v kubectl)" ]; then
  alias k=kubectl
  export KUBE_EDITOR=$EDITOR
fi

if [ -x "$(command -v bw)" ]; then
  alias unlock='export BW_SESSION=`bw unlock --raw`'
  alias lock='bw lock'
fi

if [ -x "$(command -v exa)" ]; then
  alias ls=exa
fi

if [ -x "$(command -v batcat)" ]; then
  alias cat=batcat
fi

if [ -x "$(command -v zoxide)" ]; then
  eval "$(zoxide init zsh)"
fi

alias update='source ~/.zshrc'
{{- if eq .chezmoi.os "darwin" }}
alias start=open
{{- else }}
alias start=xdg-open
{{- end }}

[ -f ~/todo/todo.sh ] && alias t=~/todo/todo.sh
{{- if hasSuffix "salesforce.com" .email }}
[ -f ~/todo/todo.sh ] && alias tedit=code ~/todo/work.txt
{{- else }}
[ -f ~/todo/todo.sh ] && alias tedit=code ~/todo/todo.txt
{{- end }}

if [ -f ~/.fzf.zsh ]; then
    source ~/.fzf.zsh
    export FZF_COMPLETION_OPTS='--border --info=inline'
    alias searchhist="history | cut -c 8-| sort | uniq | fzf"
fi

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Completion for vault
complete -o nospace -C /usr/local/bin/vault vault

# Completion for kitty
kitty + complete setup zsh | source /dev/stdin

source ~/.profile

# Open the Pull Request URL for your current directory's branch (base branch defaults to master)
function openpr() {
  remote=${1:-origin}
  github_url=`git remote -v | awk "/^${remote}.*\\(fetch\\)$/{print \\$2}" | sed -Ee 's#(git@|git://)#https://#' -e 's@com:@com/@' -e 's%\.git$%%'`;
  branch_name=`git symbolic-ref HEAD | cut -d"/" -f 3,4`;
  pr_url=$github_url"/compare/master..."$branch_name
  {{- if eq .chezmoi.os "darwin" }}
  open $pr_url;
  {{- else }}
  xdg-open $pr_url;
  {{- end }}
}

function pruneBranches() {
  git fetch -p && for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}'); do git branch -D $branch; done
}
