#
# Dependencies
#

[[ ! -d "$HOME/.antigen" ]] && git clone https://github.com/zsh-users/antigen.git "$HOME/.antigen"
source "$HOME/.antigen/antigen.zsh"
[[ ! -d "$HOME/.nvm" ]] && git clone https://github.com/creationix/nvm "$HOME/.nvm"

# Set the default plugin repo to be zsh-utils
antigen use oh-my-zsh

# Specify completions we want before the completion module
antigen bundle zsh-users/zsh-completions

# Specify plugins we want
antigen bundle editor
antigen bundle history
antigen bundle prompt
antigen bundle utility
antigen bundle completion
antigen bundle git
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-autosuggestions

antigen theme agnoster

antigen apply

# NVM Configuration

export NVM_DIR="$HOME/.nvm"
[ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # This loads nvm

# User configuration

alias g=git

export EDITOR=vim
export GOPATH=$HOME/go
export PATH="/usr/local/bin:/usr/local/share/dotnet:$PATH:$GOPATH/bin:$HOME/.dotnet/tools"
{{- if hasSuffix "salesforce.com" .chezmoi.fullHostname }}
export AD_STUDIO_ARTIFACTORY_AUTH="{{ (bitwarden "item" "artifactory-dev.brighter.io").notes }}"
export AD_STUDIO_ARTIFACTORY_EMAIL="{{ .email }}"
{{- end }}


alias unlock='export BW_SESSION=`bw unlock --raw`'
alias lock='bw lock'

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
