{{- if hasSuffix "salesforce.com" .chezmoi.fullHostname }}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDgXmwCqxjmZH8nucMxI7MIiJ1NGwKAi6hKio7Xkth8iNeCbpbjgoYWesx6/KgTiYmoD1geYj4cZDfHihsZdf33kbVwDQFip3+WCM8bVRZhEAMPak+pFDjW+gUwBn6CyAAPDOtnjRbehNTCMVkX8xq7W46Hun/MymdfV6D5FQca00XIQ5vGYErqcIawS9L5hY5nG9IlawDU7kj6FuxnIU5ouXRUkyYr65uAlbqRpEHLYTs50wIWdj35e+d1mjfNJ7H/UNC3YTzg2VDHtEv8i2XwX+AOQSRhz7wFRsuvHlpRJkVyYh0AK+Mz8q9EEckjRRZ0/DkZVv0AHa7MjEtYVEzvQ3jdylJCTbdg9eAKFdZyC2LGkgbrQgxZrl0vPekzjjRV5XK1Mwgp1N4qsj/oswrySwREOi8NP/4DYWi9lZH6MjJU7z0oho/VMnmJfzRpfiYpYKqSkQO1frJDlBKiE7qsF2OOMHatHCrHrEczzp0MdODM1JhYm8/OMWaq2pckNapBEeclyrwEXBgMa7UlZbFHyzu3zznboXY6AcoJfEYXCXgZdJIxvOtq6MCKxmNmHo0EdcDZpPoo1UMNNPqPm7LosvIZe/XPgiQo+mwLYII9iNyR4edw8ubIRVzH/6/BbTbM1BPRkfUqQH4BPc4972HagryYh4HXUXgElt3KSjrK0w== trevor.green@salesforce.com
{{- end }}