# {{ .chezmoi.fullHostname }}
Host github.com
    AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
    UseKeyChain yes
{{- end }}
    IdentityFile ~/.ssh/github

{{- if hasSuffix "salesforce.com" .chezmoi.fullHostname }}

{{ (bitwarden "item" "ssh_config_moveit").notes }}

{{ (bitwarden "item" "ssh_config_et_github").notes }}
{{- if eq .chezmoi.os "darwin" }}
    UseKeyChain yes
{{- end }}

{{ (bitwarden "item" "ssh_config_git_soma").notes }}
{{- if eq .chezmoi.os "darwin" }}
    UseKeyChain yes
{{- end }}

{{ (bitwarden "item" "ssh_config_bastion").notes }}

{{- end }}
