# {{ .email }}
Host github.com
    AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
    UseKeyChain yes
{{- end }}
    IdentityFile ~/.ssh/github
    StrictHostKeyChecking yes
    CheckHostIP no

{{- if hasSuffix "salesforce.com" .email }}

{{ (bitwarden "item" "ssh_config_moveit").notes }}

{{ (bitwarden "item" "ssh_config_et_github").notes }}
{{- if eq .chezmoi.os "darwin" }}
    UseKeyChain yes
{{- end }}

{{ (bitwarden "item" "ssh_config_git_soma").notes }}
{{- if eq .chezmoi.os "darwin" }}
    UseKeyChain yes
{{- end }}

{{ (bitwarden "item" "ssh_config_bastion").notes }}

{{- else }}

Host git.trumpi.co.za
    Port 2222
    AddKeysToAgent yes
    IdentityFile ~/.ssh/github
    StrictHostKeyChecking yes
    CheckHostIP no
{{- end }}

Host ns527547.ip-192-99-37.net
    User ubuntu
    Port 2332
    AddKeysToAgent yes
    IdentityFile ~/.ssh/github
    LocalForward 5432 localhost:5432
    LocalForward 6379 localhost:6379
    LocalForward 8081 localhost:8081
