{{- if hasSuffix "salesforce.com" .chezmoi.fullHostname }}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCcfBavHfzcG4OG5hC5ycs5QvHhO9D49Puw6+omyCuiiSTC/Lg2JUPrAB0Is5KYgljgiX1Uf7HhNzzkl9ugtesIlUu+bU8wuXaGHkOYfT+1VBoTjClxx9A2IlBJWxKVxxEVRA7HBPBd0ONo25dYaKCaZoD5zTi1q0x50ikGmZOgqlhO96CdrxAXHyrZbG5uvWnJDIQ6A8Y81nlbuI1mtzaFDOsIAM2T9LPPUgDDA18AwRfXm7zeDWC/TFXYt448GnTAC4NIqtfmSQDFuC61lh8oad1buI3cnbLPTRC3Lc/zr8WXNIFfZeO+AzBwR6UtJEoZy5LfKkyLlVkpk6tyKGud trevor.green@tgreen-ltm.internal.salesforce.com
{{- end }}